@import 'styles/variables.scss';

.primary-button {
    border-radius: $prim-btn-radius;
    height: $prim-btn-height;
    width: $prim-btn-width;
    background-color: $med-blue;
    border-style: none;
    color: white;
    font-size: 1em;
}