@import 'styles/variables.scss';

.refresh-button {
    border-radius: $prim-btn-radius;
    height: 50px;
    width: 80px;
    background-color: $light-blue;
    border-style: none;
    height: 40px;
    color: white;
    font-size: 1em;
}