
@import 'styles/variables.scss';

tr {
    height: 80px;
    border-bottom-color: $prim-gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: $font-size-small;   
    p {
        font-weight: $font-weight-lighter;
    }

    .date-button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .date-section, .buttons-section {
        display: inline-block;
    }

    .date-section {
        padding-left: 10px;
    }
}

.link-section {
    width: 200px;
    word-wrap: break-word;
    padding: 20px;
    color: $link-blue;
}

.buttons-section {
    text-align: right;
    display: inline-block;
}

.editing-text {
    color: black;
}

.name-description-section {
    width: 357px;
}