@import 'styles/variables.scss';

.survey-container {
    width: 100%;
    margin: auto;
    height: 500px;
    max-width: $content-width;
}

.survey {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    border-style: none;
}

.survey-page {
    padding-top: 40px;
}

h2 {
    margin: 5px 0;
    color: white;
}

h3 {
    margin: 5px 0;  
    color: white;
}