@import 'styles/variables.scss';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    height: 100%;
}

li {
    height: 100%;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li :hover {
    background-color: #111;
}

.header-nav-bar {
    background-color: $light-blue;
    text-align: center;
}

.last-item {
    clear: both;
}